__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/

outputs/figures/*.png
outputs/animations/*.gif
outputs/animations/*.mp4
outputs/benchmarks/*.csv
outputs/benchmarks/*.png
outputs/metrics/*.csv
